{% extends "_includes/default.njk" %}
{% block title %}Main Page Title{% endblock %}

{% block content %}
<div class="container max-w-5xl px-2 lg:px-12 pb-8 text-center">
<h1 class="py-8">Main Page Starter</h1>
  <p>
  Main page content!
  </p>
</div>
{% endblock %}
